# LLM
INFERENCE_MODE=local
LOCAL_MODEL_NAME=IlyaGusev/saiga_mistral_7b_merged
MAX_CONCURRENT_REQUESTS=1
USE_4BIT=false

# HuggingFace
HF_TOKEN=hf_ваш_токен

# RAG
RAG_ENABLED=true
CHROMA_DB_PATH=./chroma_db
DOCUMENTS_PATH=./documents
EMBEDDING_MODEL=intfloat/multilingual-e5-base
CHUNK_SIZE=1000
CHUNK_OVERLAP=200
MAX_CONTEXT_LENGTH=2000

# Логи
LOG_DIR=./logs
LOG_LEVEL=INFO

# Сервер
DEBUG=false
HOST=0.0.0.0
PORT=8000